{%extends 'base.html'%}
{%load static%}
{%block title%} {{title}}::{{block.super}} {%endblock title%}
{%block content%}
<section class="bg-text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-text">
                        </div>
                    </div>
                </div>
            </div>
        </section>
<section class="blog-post-area">
            <div class="container">
                <div class="border-top" style="border-top:1px solid blue">
                </div>
                <div class="row">
                    <div class="blog-post-area-style">
                            <div class="col-md-12">
                                <div class="single-post-big">
                                    <div class="big-image">
                                        <img src=" img/post-image1.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            {%for post in posts%}
                                <div class="col-md-3">
                                <div class="single-post">
                                    {% if post.photo%}
                                    <img src="{{post.photo.url}}" width="350px"
                                         class="mr-3" alt="{{post.title}}">
                                    {%else%}
                                    <img src="https://picsum.photos/200/300?grayscale"
                                         class="mr-3" alt="{{post.title}}">
                                    {%endif%}
                                    <h3><a href='{{post.get_absolute_url}}'>{{post.title}}</a></h3>
                                    <h4><span>Posted By:{{post.author}}</span></h4>
                                    {{post.content|linebreaks|truncatewords:70}}
                                    <h4><span>{{post.created_at|date:'Y-m-d H:i'}}</span></h4>
                                </div>
                            </div>
                            {%endfor%}
                    </div>
                </div>
            </div>
<!--     если есть более чем 1 страница , то будем показывать пагинацию&ndash;&gt;-->
<!--                иначе нет-->
                {% if page_obj.has_other_pages%}
                    <div class="pegination">
                        <div class="nav-links">

        <!--                    создаем ссылки в диапазоне.
                                диапазон хранится в range_page-->
                            {%for p in page_obj.paginator.page_range%}
        <!--                    выводи  текущую страницу,либо следующую
                                ссылку на  след. или-->
        <!--                    предыдущую-->
                                {%if page_obj.number == p%}
        <!--                        если он ровнятеся к текущей номер страницу -->
        <!--                        то,будет след. вывод-->
                                <span class="page-numbers current">{{p}}</span>

                                {%else%}
        <!--                                в противном случа-->
                                <a class="page-numbers" href="?page={{p}}">{{p}}</a>
                                {%endif%}
                            {% endfor %}

                            {% if page_obj.has_next%}
                            <a class="page-numbers" href="?page={{page_obj.next_page_number}}">
                                <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            {%endif%}
                        </div>
                </div>
            {%endif%}

        </section>
{